<a href="https://colab.research.google.com/github/scientistkev/mmscel-integration-team-1/blob/main/Group_1_Notebook_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy

# Google drive
import drive

In [92]:
# metadata.csv
df_meta_1 = pd.read_csv("/content/drive/Othercomputers/My MacBook Air/Multimodal Cell/metadata.csv")
print(df_meta_1)
print("There are four unique donors for this csv:", df_meta_1['donor'].unique())
print("There are four unique 'days' for this dataframe:", df_meta_1['day'].unique())
print("There are two unique values for 'technology':", df_meta_1['technology'].unique())

# Should we set the index to cell_id?

             cell_id  day  donor cell_type technology
0       c2150f55becb    2  27678       HSC    citeseq
1       65b7edf8a4da    2  27678       HSC    citeseq
2       c1b26cb1057b    2  27678      EryP    citeseq
3       917168fa6f83    2  27678      NeuP    citeseq
4       2b29feeca86d    2  27678      EryP    citeseq
...              ...  ...    ...       ...        ...
281523  96a60b026659   10  31800    hidden   multiome
281524  d493e546991e   10  31800    hidden   multiome
281525  05666c99aa48   10  31800    hidden   multiome
281526  121f946642b5   10  31800    hidden   multiome
281527  b847ba21f59f   10  31800    hidden   multiome

[281528 rows x 5 columns]
There are four unique donors for this csv: [27678 32606 13176 31800]
There are four unique 'days' for this dataframe: [ 2  3  4  7 10]
There are two unique values for 'technology': ['citeseq' 'multiome']

In [93]:
# There are only two divisions, so I split the dataframe into two tables. 

df_meta_1_multiome = df_meta_1[df_meta_1['technology'] == 'multiome']
df_meta_1_citeseq = df_meta_1[df_meta_1['technology'] == 'citeseq']
print(df_meta_1_multiome['cell_type'].value_counts())
print("Multiome has", df_meta_1_multiome['cell_type'].nunique(), "unique cell types")
print()

hidden    55935
HSC       34661
NeuP      21561
EryP      17135
MasP      16737
MkP       13221
MoP        2061
BP          566
Name: cell_type, dtype: int64
Multiome has 8 unique cell types

There's a `hidden` cell type that accounts for the `cell_type` with the highest count in multimodal. Why?
`hidden` cells are not found in the `citeseq` dataframe as shown below:

In [94]:
print(df_meta_1_citeseq['cell_type'].value_counts())
print("citeseq has", df_meta_1_citeseq['cell_type'].nunique(), "unique cell types")

# "hidden" cells are not found in citeseq
# BP and MoP have pretty low cell counts for multiome and citeseq. Get rid of them for now?

HSC     42874
EryP    24344
NeuP    21418
MasP    18090
MkP     10800
MoP      1822
BP        303
Name: cell_type, dtype: int64
citeseq has 7 unique cell types

In [95]:
#metadata_cite_day_2_donor_27678.csv
df_meta_2 = pd.read_csv('/content/drive/Othercomputers/My MacBook Air/Multimodal Cell/metadata_cite_day_2_donor_27678.csv')
print(df_meta_2)
print("There is only ", df_meta_2['technology'].nunique(), " value in the 'technology' column.")
print("There is only ", df_meta_2['day'].nunique(), " value in the 'day' column.")
print("There is only ", df_meta_2['donor'].nunique(), " value in the 'donor' column")

           cell_id  day  donor cell_type technology
0     83d6659a6a32    2  27678      NeuP    citeseq
1     d98594f13d2e    2  27678      NeuP    citeseq
2     5f93d8ffc72f    2  27678      NeuP    citeseq
3     7dfa2699d351    2  27678      EryP    citeseq
4     6d2533edd0e0    2  27678       HSC    citeseq
...            ...  ...    ...       ...        ...
7011  be92120b3a00    2  27678       HSC    citeseq
7012  396d0c31d41c    2  27678       HSC    citeseq
7013  ef6bf272cdcf    2  27678      EryP    citeseq
7014  6339da0de3a0    2  27678       HSC    citeseq
7015  397bef68ded6    2  27678       HSC    citeseq

[7016 rows x 5 columns]
There is only  1  value in the 'technology' column.
There is only  1  value in the 'day' column.
There is only  1  value in the 'donor' column

PLEASE NOTE: `day 2` and `donor 27678` exist in `df_meta_1` too. Are these the same values? If not, can we create a new dataframe with only the data for `donor 27678` on `day 2`? I explored `df_meta_1` a little further in the cell below:

In [96]:
print('These are the unique "donors" on "day 2":',df_meta_1[df_meta_1['day'] == 2]['donor'].unique())
print('These are the unique "days" for "donor 27678":',df_meta_1[df_meta_1['donor'] == 27678]['day'].unique())

These are the unique "donors" on "day 2": [27678 32606 13176 31800]
These are the unique "days" for "donor 27678": [ 2  3  4  7 10]

In [97]:
#I deleted the three columns with only 1 value in them
df_meta_2 = df_meta_2[['cell_id', 'cell_type']]
df_meta_2

# Should we set the index to cell_id?

           cell_id cell_type
0     83d6659a6a32      NeuP
1     d98594f13d2e      NeuP
2     5f93d8ffc72f      NeuP
3     7dfa2699d351      EryP
4     6d2533edd0e0       HSC
...            ...       ...
7011  be92120b3a00       HSC
7012  396d0c31d41c       HSC
7013  ef6bf272cdcf      EryP
7014  6339da0de3a0       HSC
7015  397bef68ded6       HSC

[7016 rows x 2 columns]

What's next here? I took a look at `evaluation_ids.csv` but I'm not really sure what to do with this dataframe. I will take a look at the h5s hopefully sometime soon.

In [98]:
#Pearson's correlations
#